.formstyle th, td {
    padding: 5px;
  }

  .formstyle table, th, td {border: none;} 
  .formstyle input{padding: 5px;}
  .formstyle input[type=submit]{padding: 5px; border: 2px green solid; background-color: aliceblue; color: black;}
  .formstyle input[type=submit]:hover{padding: 5px; border: 2px green solid; background-color: green; color: white; cursor: pointer; width: 100%; }
