.bl {background-color: #000000; color: #ffffff;}

.pd1 {padding: 10px;}
.pd2 {padding: 20px;}
.pd05 {padding: 5px;}

.b{border: 1px #999999 solid;}
.textac{text-align: center;}
.tj{text-align: justify;}
.tr{text-align: right;}
.tl{text-align:left;}
.tc{text-align: center;}
.mb2{margin-bottom: 20px;}

#myInput {
  background-image: url('/../img/search.png');
  background-position: 10px 10px;
  background-repeat: no-repeat;
  width: 25%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}

#myTable {
  border-collapse: collapse;
  width: 100%;
  /*border: 1px solid #111;*/
  font-size: 18px;
}

#myTable th, #myTable td {
  text-align: left;
  padding: 12px;
}

#myTable tr,td, th{
  border: 1px solid #ccc;
  color:#333;
}
#myTable th{background-color: #f1f1f1}



#myTable  tr:hover {
  background-color: #f1f1f1;
  color:#111;
}